// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Mixins de min-width
@mixin sm {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$breakpoint-xxl}) {
    @content;
  }
}

// Mixins de max-width
@mixin max-sm {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

@mixin max-lg {
  @media (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin max-xl {
  @media (max-width: #{$breakpoint-xl - 1px}) {
    @content;
  }
}

@mixin max-xxl {
  @media (max-width: #{$breakpoint-xxl - 1px}) {
    @content;
  }
}

// Faixa personalizada
@mixin custom-range($min, $max) {
  @media (min-width: #{$min}) and (max-width: #{$max - 1px}) {
    @content;
  }
}
