<div class="container">
    @if(loading) {
      <div class="loading">
        <div class="loading-content">
          <div class="loading-spinner">
            <div class="spinner-circle spinner-1"></div>
            <div class="spinner-circle spinner-2"></div>
            <div class="spinner-circle spinner-3"></div>
          </div>
          <div class="loading-text">Carregando resultados...</div>
          <div class="loading-dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
      </div>
    } @else if (!loading && matches.length === 0) {
      <p>{{ message }}</p>
    } @else {
      <div class="table">
        @for (match of matches; track $index) {
          <div class="table__group">
            <span class="table__group__players__first">{{getPlayerName(match.player1.id)}}</span>
            <span class="table__group__score"> {{ match.player1.score }} </span>
            <span class="table__group__vs"> X </span>
            <span class="table__group__score"> {{ match.player2.score }} </span>
            <span class="table__group__players__second">{{getPlayerName(match.player2.id)}}</span>
          </div>
        }
      </div>
    }
  </div>
  