$spacing-quarck: 4px;
$spacing-nano: 8px;
$spacing-3xs: 16px;
$spacing-2xs: 24px;
$spacing-xs: 32px;
$spacing-sm: 40px;
$spacing-md: 48px;
$spacing-lg: 56px;
$spacing-xl: 64px;
$spacing-2xl: 80px;
$spacing-3xl: 120px;
$spacing-huge: 160px;
$spacing-giant: 200px;