<div class="main-content">
  <div class="content-center">
    <div class="logo large" alt="ATPizza"></div>
    <div class="round-status">
      <h2>Status da Rodada Atual</h2>
      <p>{{ message }}</p>
      @if(warningMessage) {
        <span class="pulsing-message">{{ warningMessage }}</span>
      }
    </div>
  </div>

  
</div>
<div class="apoio-section">
  <h3>APOIO:</h3>
  <div class="apoio-top">
    <img src="/images/apoio2.PNG" alt="Apoio 2" class="apoio-image">
  </div>

  <div class="apoio-bottom">
    <img src="/images/apoio2.PNG" alt="Apoio 2" class="apoio-image">
    <img src="/images/apoio2.PNG" alt="Apoio 3" class="apoio-image">
  </div>
</div>


